<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                Manage privacy in topic $TOPIC_TITLE$
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>
                
                <div class="row">
                    <div class="col-md" id="form">
                        $FORM$
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</div>