body {
    overflow-x: hidden;
}

#form input, #form select {
    width: 100%;

    padding: 5px;

    border: 1px solid black;
}

#page-title {
    font-size: 27px;

    text-align: center;
}

#flash-messages {
    width: 100%;
}

.fm-info {
    color: blue;
    background-color: rgb(100, 150, 250);
}

.fm-error {
    color: rgb(140, 0, 0);
    background-color: rgb(255, 100, 100);
}

.fm-success {
    color: green;
    background-color: rgb(100, 200, 100);
}

div[class^="fm-"], div[class*="fm-"] {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    
    margin: 10px;

    border-radius: 5px;
    border: 1px solid rgb(140, 0, 0);
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#navbar {
    background-color: black;

    color: white;

    font-size: 20px;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    color: white;
    text-decoration: underline;
}

#left .navbar-link {
    margin-right: 5px;
}

#right .navbar-link {
    margin-left: 5px;
}

.post-title-link {
    font-size: 24px;

    color: black;

    text-decoration: underline;
}

.post-text {
    font-size: 18px;

    text-align: left;
}

.post-data {
    font-size: 16px;

    color: black;
}

.post-like, .post-data-link {
    color: black;

    text-decoration: underline;
}