<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                Search results
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md" id="center">
                                <p class="post-text" style="text-align: center">Topics</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                $TOPICS$
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md" id="center">
                                <p class="post-text" style="text-align: center">Users</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                $USERS$
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md" id="center">
                                <p class="post-text" style="text-align: center">Tags</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                $TAGS$
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</div>