<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Topics with tag <i>$TAG_NAME$</i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md">
                        $TOPICS$
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</div>