<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                Discover topics
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md">
                $TOPICS$
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</div>