<script type="text/javascript" src="js/widgets/PollAnalyticsWidgets.js"></script>
<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Poll analytics
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="left">
                        $LINKS$
                    </div>
                </div>

                <div class="row">
                    <div class="col-md" id="widget1">
                        <div id="center">Responses</div>
                        <div id="widget1-data">
                            <div style="width: 95%"><canvas id="responsesGraph"></canvas></div>
                        </div>
                        <div id="center">
                            $WIDGET1_DESCRIPTION$
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</div>