<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                $TOPIC_TITLE$
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md-3"></div>
        
                    <div class="col-md">
                        <p class="post-data">$TOPIC_DESCRIPTION$</p>
                    </div>
        
                    <div class="col-md-3"></div>
                </div>
        
                <hr>

                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md">
                        $LINKS$
                    </div>

                    <div class="col-md-2"></div>
                </div>

                $LINKS_HR$
        
                <div class="row">
                    <div class="col-md-3"></div>
        
                    <div class="col-md" id="center">
                        <span id="latest-posts"></span>
                        <span id="load-more-link"></span>
                    </div>
        
                    <div class="col-md-3"></div>
                </div>
            </div>

            <div class="col-md-3">
                $TOPIC_DATA$
            </div>
        </div>
    </div>
</div>