<div class="row">
    <div class="col-md col-lg">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md col-lg" id="user-title-section">
                $TOPIC_TITLE$
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md col-lg" id="topic-text">
                        <p class="post-data">$TOPIC_DESCRIPTION$</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md col-lg" id="topic-data-section">
                        $TOPIC_DATA$
                    </div>
                </div>
        
                <br>

                <div class="row">
                    <div class="col-md col-lg" id="topic-links">
                        $LINKS$
                    </div>
                </div>

                $LINKS_BR$
        
                <div class="row">
                    <div class="col-md" id="center">
                        <span id="latest-posts">
                            <img src="resources/loading.gif" width="64">
                        </span>
                        <span id="posts-load-more-link"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
</div>