<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Report topic <i>$TOPIC_TITLE$</i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md" id="form">
                        $FORM$
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>