<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                Trending
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2 col-lg-4"></div>

            <div class="col-md col-lg" id="user-links-section">
                $TRENDING_LINKS$
            </div>

            <div class="col-md-2 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2 col-lg-4"></div>
            
            <div class="col-md col-lg">
                <!-- TOPICS -->
                <div class="row">
                    <div class="col-md" id="user-links-section">
                        <p class="post-text" id="center">Topics with the most posts in last 24 hours</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md col-lg" id="user-list">
                        <div id="trending-topics-list"></div>
                    </div>
                </div>

                <br>

                <!-- POSTS -->
                <div class="row">
                    <div class="col-md" id="user-links-section">
                        <p class="post-text" id="center">Posts with the most comments in last 24 hours</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md col-lg" id="user-list">
                        <div id="trending-posts-list"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-4"></div>
        </div>
    </div>
</div>