<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                $POST_TITLE$
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md-2"></div>
        
                    <div class="col-md" id="post-text">
                        $POST_TEXT$
                    </div>
        
                    <div class="col-md-2"></div>
                </div>

                <br>

                $POST_IMAGES$

                <div class="row">
                    <div class="col-md-2"></div>
                    
                    <div class="col-md" id="form">
                        <div id="post-comment-form">
                            $NEW_COMMENT_FORM$
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                </div>

                <br>
        
                <div class="row">
                    <div class="col-md-2"></div>
        
                    <div class="col-md" id="center">
                        <span id="post-comments"></span>
                        <span id="post-comments-load-more-link"></span>
                    </div>
        
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="col-md-2">
                $POST_DATA$
            </div>
        </div>
    </div>
</div>