<div id="image-modal" style="display: none; position: absolute; left: 70vh; top: 30vh; z-index: 9999; background-color: rgba(150,150,150,0.7); padding: 15px">
    <div class="row">
        <div class="col-md" id="image-modal-content">
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <a class="post-data-link" href="#" onclick="closeImage()">Close</a>
            <span id="image-modal-open-link"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-3 col-lg-4"></div>

            <div class="col-md col-lg" id="manage-title-section">
                Post file uploads management
            </div>

            <div class="col-md-3 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                $SIDEBAR$
            </div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <div class="col-md">
                        <div id="grid-filter-control"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md" id="grid">
                        <div id="grid-content">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>