<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Notifications
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-lg-4"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="notification-links">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md">
                        <div id="notifications"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-4"></div>
        </div>
    </div>
</div>