<div class="row">
    <div class="col-md col-lg">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md col-lg" id="user-title-section">
                Notifications
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md" id="notification-links">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md">
                        <div id="notifications"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
</div>