<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>$SYS_PAGE_TITLE$ - $SYS_APP_NAME$</title>
        <script type="text/javascript" src="js/jquery-3.7.1.js"></script>
        <script type="text/javascript" src="js/Topics.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md" id="flash-messages">
                $SYS_FLASH_MESSAGES$
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="navbar">
                        $SYS_NAVBAR$
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        $SYS_PAGE_CONTENT$
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md" id="center">
                <p>$SYS_APP_NAME$&copy; $SYS_COPYRIGHT$ All rights reserved.</p>
                <a class="footer-link" href="?page=AnonymModule:StatusCheck&action=list">Show status</a>
                <a class="footer-link" href="?page=AnonymModule:Help&action=form&userId=$SYS_USER_ID$">Suggestions</a>
                <a class="footer-link" href="?page=AnonymModule:About&action=changelog">Changelog</a>
            </div>

            <div class="col-md-2"></div>
        </div>
    </footer>
</html>