<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md col-lg" id="manage-title-section">
                System caching management
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                $SIDEBAR$
            </div>

            <div class="col-md">
                <div clas="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <div class="col-md" id="grid">
                        <div id="grid-content">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>