<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Changelog
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-lg-3"></div>

            <div class="col-md">
                <ul>
                    <li>
                        <p class="changelog-title">Topics v1.1</p>

                        <ul>
                        </ul>
                    </li>

                    <li>
                        <p class="changelog-title">Topics v1.0</p>

                        <ul>
                            <li class="changelog-item">Core functionality</li>
                            <li class="changelog-item">Topics</li>
                            <li class="changelog-item">Posts</li>
                            <li class="changelog-item">Status page</li>
                            <li class="changelog-item">Changelog page</li>
                            <li class="changelog-item">Suggestions page</li>
                            <li class="changelog-item">User reporting</li>
                            <li class="changelog-item">Post reporting</li>
                            <li class="changelog-item">Topic reporting</li>
                            <li class="changelog-item">Comment reporting</li>
                            <li class="changelog-item">User warning, banning and permanently banning</li>
                            <li class="changelog-item">Polls</li>
                            <li class="changelog-item">Charts</li>
                            <li class="changelog-item">Dashboard widgets</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
</div>