<div class="row">
    <div class="col-md">
        <br>

        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="manage-title-section">
                Management dashboard
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2">
                $SIDEBAR$
            </div>

            <div class="col-md" id="widget1">
                $WIDGET1$
            </div>

            <div class="col-md-2"></div>

            <div class="col-md" id="widget2">
                $WIDGET2$
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>