<div class="row">
    <div class="col-md col-lg">
        <div class="row">
            <div class="col-md col-lg" id="page-title">
                $TITLE$
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-1"></div>

            <div class="col-md col-lg">
                $PERMANENT_FLASH_MESSAGES$
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg"></div>

            <div class="col-lg-6 col-md-10" id="center">
                $LATEST_POSTS$
            </div>

            <div class="col-lg"></div>
        </div>
    </div>
</div>