<div class="row">
    <div class="col-md col-lg">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                $TITLE$
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        $PERMANENT_FLASH_MESSAGES$

        <br>

        <div class="row">
            <div class="col-lg"></div>

            <div class="col-lg-6 col-md-10" id="center">
                $LATEST_POSTS$
            </div>

            <div class="col-lg"></div>
        </div>
    </div>
</div>