<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-4 col-lg-4"></div>

            <div class="col-md col-lg" id="user-title-section">
                $USERNAME$'s follows
            </div>

            <div class="col-md-4 col-lg-4"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-1 col-lg-4"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md col-lg" id="user-list">
                        $BACK_LINK$
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md col-lg" id="user-list">
                        <span>Total follows: $TOTAL_FOLLOWS$</span>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md col-lg" id="user-list">
                        <div id="follows-list"></div>
                        <div id="follows-list-load-more-link"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-4"></div>
        </div>
    </div>
</div>