<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                User <i>$USERNAME$</i>'s profile
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md">
                <p><b>Post count:</b> $POST_COUNT$</p>
                <p><b>Date of first login:</b> $FIRST_LOGIN_DATE$</p>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>