<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                User <i>$USERNAME$</i>'s profile
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <p class="post-text">User information</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <p><b>Post count:</b> $POST_COUNT$</p>
                        <p><b>Date of first login:</b> $FIRST_LOGIN_DATE$</p>
                        <p>$REPORT_LINK$</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <p class="post-text">Action history</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        $ACTION_HISTORY$
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>