<script type="text/javascript" src="js/widgets/AdminDashboardWidgets.js"></script>
<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Administration dashboard
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="widget1">
                        <div id="center">Most active topics</div>
                        <div id="widget1-data">
                            <div style="width: 95%"><canvas id="mostActiveTopicsGraph"></canvas></div>
                        </div>
                    </div>
        
                    <div class="col-md-2"></div>
        
                    <div class="col-md" id="widget2">
                        <div id="center">Most active posts</div>
                        <div id="widget2-data">
                            <div style="width: 95%"><canvas id="mostActivePostsGraph"></canvas></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md" id="widget3">
                        <div id="center">Most active users</div>
                        <div id="widget3-data">
                            <div style="width: 95%"><canvas id="mostActiveUsersGraph"></canvas></div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md" id="widget4">
                        <div></div>
                        <div id="widget4-data"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>