<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="page-title">
                Feedback dashboard
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                $SIDEBAR$
            </div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="widget1">
                        Suggestions
                        $WIDGET1$
                    </div>
        
                    <div class="col-md-2"></div>
        
                    <div class="col-md" id="widget2">
                        Reports
                        $WIDGET2$
                    </div>
                </div>

                <div class="row">
                    <div class="col-md" id="widget3">
                        Suggestion categories
                        $WIDGET3$
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md" id="widget4"></div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>