<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>$PAGE_TITLE$</title>
    </head>
    <body>
        <div class="row">
            <div class="col-md" id="flash-messages">
                $FLASH_MESSAGES$
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md" id="navbar">
                        $NAVBAR$
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        $PAGE_CONTENT$
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>